/* Geral */

h2 {
    color: var(--texto-destaque);
    font-size: var(--font-destaque);;
}

/* hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/fundo-sobre-nos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: var(--tamanho-div);
}

.hero-texto {
    background-color: var(--bg-detalhe-suave);
    text-align: center;
    padding: var(--padding-divs);
    border-radius: 20px;
    line-height: 2rem;
}

.historia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: var(--padding-divs);
}

.historia img {
    width: var(--tamanho-imagem-sobre);
    border-radius: 10px;
}

.historia-texto {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.historia-texto p {
    width: 60vw;
}

/* Filosofia */

.filosofia {
    padding: var(--padding-divs);
}

.filosofia-titulo {
    padding-left: var(--padding-divs);
}

.filosofia-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: var(--padding-divs);
}

.filosofia-container-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    width: 25vw;
    height: 8rem;
    border: 1px solid var(--borda-suave);
    padding: var(--padding-divs);
}

/* Equipe */

.equipe {
    padding: var(--padding-divs);   
}

.equipe h2 {
    padding-left: var(--padding-divs);
}

.equeipe-profisionais {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: var(--padding-divs);
}

.equeipe-profisionais img {
    border-radius: 100%;
    width: 12rem;
    height: 12rem;
}

.equipe-proficionais-pessoa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

/* chamada para ação */

.chamada {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: var(--padding-divs);
    background-color: var(--bg-detalhe);   
}

.chamada button {
    border-radius: 5px;
    border: none;
    background-color: var(--bg-secundario);
    padding: var(--padding-botao);
    cursor: pointer;
    font-size: var(--font-media);
    border: 2px solid var(--bg-secundario);
    transition-duration: 0.3s;
}

.chamada button:hover {
    background-color: var(--hover-acao);
    border: 2px solid var(--texto-principal);
    scale: 1.2;
}