/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (max-width: 992px) {
    :root{
        --tamanho-card: 80vw;
    }

    header li a {
        font-size: 1.5rem;
    }

    .separacao {
        width: 40%;
    }

    .cards-container {
        flex-direction: column;
        gap: 1.5rem;
    }
}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
     :root {
        --tamanho-div: 20rem;
     }

      /* menu */
    .menu-normal {
        display: none;
    }
    .menu-haburguer {
        display: block;
    }

    /* hero */
    .hero-texto {
        width: 80vw;
    }

    /* cards */
    .separacao {
        width: 35%;
        height: 14.5rem;
        font-size: 0.9rem;
    }

    .card {
        width: 90vw;
    }

     /* footer */
    footer{
        text-align: center;
    }
    .footer-expecificacoes {
        flex-direction: column;
        gap: 0;
    }
}