/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (max-width: 992px) {

    :root{
        --tamanho-card: 80vw;
    }

    header li a {
        font-size: 1.5rem;
    }

    .filosofia-container-card {
        height: 15rem;
    }
    .equipe-proficionais-pessoa {
        text-align: center;
        width: 30vw;
    }
}


/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    :root {
        --tamanho-div: 20rem;
    }

    /* menu */
    .menu-normal {
        display: none;
    }
    .menu-haburguer {
        display: block;
    }

    .hero-texto {
        width: 80vw;
    }

    .historia {
        flex-direction: column;
        gap: 1rem;
    }

    .historia-texto p {
    width: 85vw;
    }

    .filosofia-container {
        gap: 1rem;
        flex-direction: column;
    }

    .filosofia-container-card {
        width: 80vw;
    }

    .equeipe-profisionais {
        flex-direction: column;
        gap: 1rem;
    }

    .equipe-proficionais-pessoa {
        width: 80vw;
    }

    /* footer */
    footer{
        text-align: center;
    }
    .footer-expecificacoes {
        flex-direction: column;
        gap: 0;
    }
}