@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Puppies+Play&family=Tangerine:wght@400;700&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--texto-principal);
}

/* Variaveis */

:root {
    /* COR */
    --bg-principal: #f0f3ec;
    --bg-secundario: #e2e8d9;
    --bg-detalhe: #b9d7c8;
    --bg-detalhe-suave: #f7f1e7bd;
    --texto-principal: #4a6a54;
    --texto-secundario: #7c9a82;
    --texto-destaque: #d8942d;
    --texto-suave: #a7bfa8;
    --destaque-primario: #f3c78a;
    --borda-suave: #d4d9c6;
    --hover-acao: #e7b05b;
    --sombra-card: #11381e;
    /* TAMANHO */
    --padding-divs: 1.5rem;
    --padding-botao: 0.5rem;
    --font-logo: 4rem;
    --font-login: 3rem;
    --font-destaque: 2rem;
    --font-destaque-cursivo: 3rem;
    --font-media: 1rem;
    --titulos: 1.5rem;
    --paragrafos: 1.2rem;
    --tamanho-div: 17rem;
    --tamanho-card: 30%;
    --tamanho-imagem-sobre: 15rem;
}

/* Cabeçalho */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-divs);
    background-color: var(--bg-secundario);
    position: sticky;
    top: -15px;
    z-index: 999;
    box-shadow: 0px -1px 10px var(--sombra-card);
}

.logo {
    font-family: "Puppies Play", cursive;
    font-size: var(--font-logo);
    color: var(--texto-principal);
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

header li a {
    color: var(--texto-principal);
    font-size: var(--font-destaque);
    transition-duration: 0.3s;
}

header li a:hover {
    color: var(--texto-suave);
    border-bottom: 2px solid var(--texto-suave);
}

/* main */

main {
    background-color: var(--bg-principal);
}

/* Rodape */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--padding-divs);
    box-shadow: 0px 1px 10px var(--sombra-card);
}

.footer-expecificacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.footer-especificacoes-funcionamento h2, .footer-especificacoes-contato h2 {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    color: var(--texto-destaque);
}

.footer-especificacoes-contato-social, .footer-especificacoes-contato-direto {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}