/* HERO */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../imagens/fundo-inicio.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: var(--tamanho-div);
}

.hero h2 {
    font-size: var(--font-destaque-cursivo);
    width: 300px;
    text-align: center;
    font-family: "Ephesis", cursive;

}

.hero-direita {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    background-color: var(--bg-detalhe-suave);
    padding: var(--padding-divs);
    border-radius: 20px;
}

.hero button {
    border-radius: 5px;
    border: none;
    background-color: var(--bg-secundario);
    padding: var(--padding-botao);
    cursor: pointer;
    font-size: var(--font-media);
    border: 2px solid var(--bg-secundario);
    transition-duration: 0.3s;
}

.hero button:hover {
    background-color: var(--hover-acao);
    border: 2px solid var(--texto-principal);
    scale: 1.2;
}

/* SOBRE */

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    padding: var(--padding-divs);
    background-color: var(--bg-principal);
    font-size: var(--titulos);
}

.sobre-texto-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.sobre-paragrafos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 75%;
    font-size: var(--paragrafos)
}

.sobre img {
    width: var(--tamanho-imagem-sobre);
}
.sobre button {
    border-radius: 5px;
    border: none;
    background-color: var(--bg-secundario);
    padding: var(--padding-botao);
    cursor: pointer;
    font-size: var(--font-media);
    border: 2px solid var(--bg-secundario);
    transition-duration: 0.3s;
}

.sobre button:hover {
    background-color: var(--hover-acao);
    border: 2px solid var(--texto-principal);
    scale: 1.2;
}

/* Pacotes */

.pacotes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: var(--padding-divs);
    background-color: var(--bg-principal);
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: var(--tamanho-card);
    background-color: var(--bg-detalhe);
    padding-bottom: var(--padding-divs);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.card img {
    width: 100%;
    height: 18rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card p {
    width: 90%;
}

.card:hover {
    scale: 1.07;
    box-shadow: 1px 1px 15px var(--sombra-card);
}

/* Depoimentos */

.depoimentos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 15px;
    padding: var(--padding-divs);
    text-align: center;
    background-color: var(--bg-secundario);
    font-size: var(--titulos);
}

.depoimentos h3, .depoimentos h2 {
    color: var(--texto-destaque);
}

.depoimentos-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.depoimentos-conteudo i:hover {
    color: var(--hover-acao);
    cursor: pointer;
    transition-duration: 0.3s;
}

.depoimentos-conteudo-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    font-size: var(--paragrafos);
}

.depoimentos-selecao {
    background-color: var(--hover-acao);
    cursor: pointer;
}

.depoimentos-selecao:checked {
    background-color: var(--hover-acao);

}

